<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    {{>header}}
    
    <div class="container">
            <h5>Name:Maithili Misal</h5>
            <h5>Profession:Cloud Engineer</h5>
            <h5>Company:Blazeclan</h5>
            <h5>Location:Pune</h5>
            <h5>Birth-Date:15th September 1997</h5>
            </div>
    
</body>

</html>