<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>This Weather application will show you the weather forecast</p>
        <p>You can use this appliaction to check the atmosphere</p>
        
    </body>
</html>