<!DOCTYPE html>
<head>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Weather</span></title>
    <link rel="stylesheet" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
        <p>Insert below the location e.g:Pune</p>

        <form action="">
            <input id="placeholder" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="msg1"></p>
        <p id="msg2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>